<plugin id="com.example.androidbuttonhome" version="1.0.0">
    <name>AndroidButtonHome</name>
    <description>Cordova Plugin to simulate Android Home Button</description>
    <license>Apache 2.0</license>
    <author>Your Name</author>

    <js-module name="AndroidButtonHome" src="www/AndroidButtonHome.js">
        <clobbers target="cordova.plugins.AndroidButtonHome" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AndroidButtonHome">
                <param name="android-package" value="com.example.androidbuttonhome.AndroidButtonHome" />
            </feature>
        </config-file>

        <source-file src="src/android/AndroidButtonHome.java" target-dir="src/com/example/androidbuttonhome" />
    </platform>
</plugin>